<div class="StartPage__wrapper">
   <div class="StartPage__videoOuter">
      <div class="StartPage__video">
         <component data-component="SBIS3.CONTROLS.Button" name="GetPhoto">
            <option name="caption">Распознать</option>
            <option name="className">controls-Button__big StartPage__button</option>
            <option name="primary">true</option>
            <option name="visible">false</option>
         </component>
         <video autoplay="autoplay" id="video_tag"></video>
         <canvas id="canvas" class="canvas"></canvas>
      </div>
   </div>
   <div id="recognized" class="StartPage__recognized"></div>
   <div id="checklist" class="StartPage__checklist"></div>
</div>