.StartPage {
   position: static !important;
   width: 100%;
   height: 100%;
   background: url(/resources/Blyudoglyad/Theme/background.png) no-repeat scroll 0 0px;
   background-color: #494b58;
   background-size: cover;
}
.StartPage__wrapper {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.StartPage__videoOuter {
   display: table;
   height: 100%;
   width: 832px;
   margin: 0 auto;
}
.StartPage__video {
   display: table-cell;
   vertical-align: middle;
   height: 624px;
}

video, .wrapper .video, #canvas {
   width: 100%;
   height: 100%;
}

video {
   background: #000;
   margin-top: 4px;
}

.StartPage__recognized {
   display: none;
   top: 450px;
   left: -1000px;
   height: 360px;
   width: 1px;
   position: absolute;
   background: #494b58;
   padding: 16px;
}

.StartPage__button {
   margin-bottom: -48px !important;
   display: block;
   top: 16px;
   z-index: 100;
   background-color: white !important;
   opacity: 0.5;
}

.StartPage__checklist {
   display: none;
   margin-left: auto;
   top: 0px;
   right: 0px;
   height: calc(100% - 40px);
   width: 1%;
   position: absolute;
   background-color: #fffae9;
   padding: 20px;
}

.canvas {
   height: 100%;
   width: 100%;
   display: none;
}