html, body {
   height: 100%;
   min-height: 100%;
}
.Base__wrapper {
   width: 1536px;
   height: 100%;
}
.Base__sidebar {
   background-color: #000;
   width: 64px;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   background: url(/resources/Blyudoglyad/Theme/top_presto.png) no-repeat #000;
}
.Base__container {
   margin-left: 64px;
   height:100%;
}
.Base__header {
   background-color: #373944;
   height: 40px;
   width: 100%;
}
.Base__content {
   height: calc(100% - 45px);
   margin-bottom: -40px;
   border-top: 5px solid #000;
   position: relative;
}