.bill_body {
   top: 0px;
   left: 0px;
   position: absolute;
   height: calc(100% - 40px) !important;
   width: 100px;
}

.bill_list {
    padding: 20px;
    font-size: 28px;
    font-family: monospace;

}

.Bill_Fire {
   padding: 10px 0;
   margin: 0 38%;
}