<div class="bill_body">
   <div class="bill_list">
      <div style="text-align: center;">СБИС.Кассир</div>
      <div style="text-align: -webkit-center;">Добро пожаловать</div>
      <div>Кассир: Чак Норис</div>
      <div>Открыт: 20.11.2016 05:03:44</div>
      <br/>
  </div>
   <div id="bill_list" class="bill_list"></div>
   <div class="Bill_Fire">
      <component data-component="SBIS3.CONTROLS.Button" name="Fire">
         <option name="caption">Пробить</option>
         <option name="className">controls-Button__big</option>
         <option name="primary">true</option>
      </component>
   </div>
</div>