.modal_block{
   width: 350px;
   position: relative;
   border-spacing: 0;
   border-collapse: separate;
   border-width: 0;
   border-style: solid;
   border-color: transparent;
   background: #8991a9;
   table-layout: fixed;
}
.modal_table{
   background-color: #b1b8c7;
   width: 350px;
   min-height: 150px;
   font-size: 12px;
}
.modal_table_titlebar{
    position: relative;
    font-weight: bold;
    cursor: default;
    text-align: left;
    padding: 4px 8px;
    color: #000;
    font-size: 18px;
    background-color: transparent;
    border-collapse: separate;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
}
.modal_table_th{
    position: relative;
    font-weight: normal;
    cursor: default;
    text-align: left;
    height: 14px;
    padding: 4px 8px;
    color: #000;
    font-size: 15px;
    background-color: transparent;
    border-collapse: separate;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
}
