<div class="modal_wind">
    <component data-component="SBIS3.CONTROLS.DataGridView" id="popup_window" name="browserView">
        <options name="itemsActions" type="array"/>
        <option name="keyField">@Dish</option>
        <opts name="columns" type="array">
            <opts>
                <option name="title">Название</option>
                <option name="field">Name</option>
                <option name="width">50px</option>
             </opts>
            <opts>
                <option name="title">Цена</option>
                <option name="field">Cost</option>
                <option name="width">10px</option>
            </opts>
        </opts>
    </component>
</div>
            