.item_body {
   width: 350px;
   height: 154px;
   border: 1px groove black;
   display: inline-flex;
   padding: 16px;
   background-color: #4E5762
}

.item_inner {
   height: 100%;
   width: 100%;
   position: relative;
}

.change_button {
   bottom: 0;
   left: 0;
   position: absolute;
   border-color: #ffcc33;
}

.item_img {
   margin-right: auto;
   height: 150px;
   width: 150px;
   position: absolute;
   top: 0;
   right: 0;
   border: 1px groove black;
   background: #000;
}

.item_info {
   left: 0px;
   text-overflow: ellipsis;
   position: relative;
}

.item_info {
   font-family: Exo2-SemiBold;
   font-size: 28px;
   padding: 0 0 17px 0;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: normal;
   max-width: 58%;
   color: #fff;
}

.change_button {
   font-size: 23px;
    line-height: 20px;
    color: #FC9;
}

.item_priceName {
   height: 10%;
   position: relative;
   font-size: 23px;
   line-height: 20px;
   color: #fc9;
}