<div class="item_body">
   <div class="item_inner">
      <div id="item_info" class="item_info">
      </div>
      <div id="item_priceName" class="item_priceName">
      </div>
      <img id="item_img" class="item_img">
      </img>
      <component data-component="SBIS3.CONTROLS.Button" class="change_button" name="ItemChange">
         <option name="caption">Исправить</option>
      </component>
   </div>
</div>